<div class="mt-4">
  <div class="row">
    <!-- Colonne de l'image -->
    <div class="col-md-4">
      <div class="card shadow">
        <img class="img-fluid" [src]="candidateService.getFileUrl('profile', candidate.profileNameImage)" alt="Profil">
        <div class="card-body text-center">
          <h5 class="card-title text-primary">{{ candidate.firstName }} {{ candidate.lastName }}</h5>
          <p class="text-muted">{{ candidate.occupation }}</p>
          <p><strong>Age :</strong> {{ candidate.age }}</p>
        </div>
      </div>
    </div>

    <!-- Colonne du texte -->
    <div class="col-md-8">
      <div class="ms-3">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link cursor-pointer" [class.active]="activeTab === 'portrait'" (click)="activeTab = 'portrait'">
              <strong>PORTRAIT</strong>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor-pointer" [class.active]="activeTab === 'programme'" (click)="activeTab = 'programme'">
              <strong>PROGRAMME</strong>
            </a>
          </li>
        </ul>

        <div class="corps p-3">
          <div *ngIf="activeTab === 'portrait'">
            <p>{{candidate.portrait}}</p>
          </div>

          <div *ngIf="activeTab === 'programme'">
            <pdf-viewer [src]="candidateService.getFileUrl('program', candidate.programNameFile)" [render-text]="true" [original-size]="false"></pdf-viewer>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
